{% extends "base.html" %}

{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ article.title|striptags }} &middot; {{ SITENAME }}{% endblock %}

{% block content %}
<section id="content" class="body">
  <header>
    <h1 class="entry-title">{{ article.title }}</h1>
  </header>
  <footer class="post-info">
    <time class="published" datetime="{{ article.date.isoformat() }}">
      <em>
        Version <a href="{{ ARTICLE_EXTERNAL_BASE }}/{{ article.id }}">{{ article.id }}</a>
        ({{ article.date.strftime('%d.%m.%Y') }})
      </em>
    </time>
  </footer>
  <div class="entry-content">
    {{ article.content }}
  </div>
</section>
{% endblock content %}
