{% extends "base.html" %}

{% block title %}{{ INDEX_TITLE }} &middot; {{ SITENAME }}{% endblock %}

{% block content %}
<h1>{{ INDEX_TITLE }}</h1>
{% for article in articles_page.object_list %}
<article>
  <h2 id="{{ article.id }}">
    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
  </h2>
  <em>
    Version <a href="{{ ARTICLE_EXTERNAL_BASE }}/{{ article.id }}">{{ article.id }}</a>
    ({{ article.date.strftime('%d.%m.%Y') }})
  </em>
  <div>{{ article.summary }}</div>
</article>
{% endfor %}
{% endblock content %}
