{% extends "base.html" %}

{% block html_lang %}{{ page.lang }}{% endblock %}

{% block title %}{{ page.title|striptags }}{%endblock%}

{% block content %}
<h1>{{ page.title }}</h1>

{{ page.content }}

{% if page.modified %}
<p>Last updated: {{ page.locale_modified }}</p>
{% endif %}
{% endblock %}
